<mat-toolbar>
  <button aria-label="icon-button with menu icon" class="icon" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="">Sampleアプリ</a>
  <div class="ml-4"><a [routerLinkActiveOptions]="{exact: true}" class="text-gray-500 hover:text-gray-800" routerLink=""
                       routerLinkActive="active">Home</a></div>
  <div class="ml-4">
    <a class="text-gray-500 hover:text-gray-800" routerLink="user-list" routerLinkActive="active">
    一覧
    </a>
  </div>
  <div class="ml-4">
    <a class="text-gray-500 hover:text-gray-800" routerLink="event-list" routerLinkActive="active">
      Event一覧
    </a>
  </div>


  <span class="spacer"></span>
  <button aria-label="Example icon-button with heart icon" class="icon favorite-icon" mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button aria-label="Example icon-button with share icon" class="icon" mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>

</mat-toolbar>
