<!-- モーダルのHTMLコード -->

@if(isVisible()){
  <div class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-auto my-6 mx-auto max-w-6xl">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
        <!--header-->
        <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
          <h3 class="text-3xl font-semibold">
            次回開催詳細
          </h3>
          <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none">
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
          </button>
        </div>
        <!--body-->
        <div class="relative p-6 flex-auto">
          <div>
            <!-- フォームの内容 -->
            <form >
              <div class="my-4 text-blueGray-500 text-lg leading-relaxed">
                <label for="eventName" class="block text-sm font-medium ">イベント名</label>
                <input [value]="event()?.name" type="text" id="eventName" class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 ">
              </div>
              <div class="my-4 text-blueGray-500 text-lg leading-relaxed">
                <label for="eventName" class="block text-sm font-medium ">スピーカー</label>
                <select
                  [value]="event()?.speakerId"
                  type="text" id="speaker" class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 ">
                  <option value="">--選択してください--</option>
                  <option value="dog">Dog</option>
                </select>
              </div>
              <div class="my-4 text-blueGray-500 text-lg leading-relaxed">
                <label for="eventName" class="block text-sm font-medium ">ファシリテーター</label>
                <select
                  [value]="event()?.facilitatorId"
                  type="text" id="facilitator" class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 ">
                  <option value="">--選択してください--</option>
                  <option value="dog">Dog</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="eventName" class=" text-sm font-medium ">日程</label>
                <input
                  [value]="event()?.date | date : 'yyyy-MM-dd'"
                  type="date" id="date" class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 ">
              </div>
              <div class="mb-3">
                <label for="eventDescription" class=" text-sm font-medium ">説明</label>
                <textarea [value]="event()?.description" id="eventDescription" cols="90" rows="3" class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 "></textarea>
              </div>
            </form>
          </div>

        </div>
        <!--footer-->
        <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
          <button (click)="onCloseModal()" class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
            Close
          </button>
          <button class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" >
            Save Changes
          </button>
        </div>
      </div>
    </div>
  </div>
}@if(isVisible()){
  <div class="opacity-25 fixed inset-0 z-40 bg-black"></div>
}



